.wrapper {
  display:grid;
  grid-template-columns: 2, 1fr;
  grid-gap:1em;
  grid-auto-rows: minmax(10em, auto);
}

.banner {
  grid-column:1/2;
  grid-row:1;
  text-align:center;
  padding:1em;
}

.new_account {
  grid-column:1/2;
  grid-row:2;
  padding:1em;
  margin:1em;
  width:50%;
  border-style:solid;
  border-width:1px;
  border-radius:15px;

}

.deposits_withdrawls {
  grid-column:1/2;
  grid-row:3;
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-gap:1em;
  padding:1em;
  margin:1em;
}

.deposits_withdrawls > div {
  padding: 1em;
  margin:1em;
  height: minmax(7em, auto);
}

.account_balance_display {
  grid-column: 1/2;
  grid-row:4;
  text-align:center;
  border-width:5px;
  border-radius:35%;
  border-style:solid;
  border-color:#000;
  padding:.5em;
  margin:2em;
}

h4 {
  text-align:center;
}
